{"openapi":"3.0.0","info":{"title":"Shopware Admin API","version":"3"},"servers":[{"url":"http:\/\/www.plintenburg.com\/api\/v3"}],"paths":{"\/acl-role":{"get":{"tags":["Acl Role"],"summary":"List with basic information of Acl Role resources","operationId":"getAclRoleList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Acl Role resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/acl_role"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/acl-role?limit=25"},"last":{"example":"\/acl-role?limit=25\u0026page=11"},"next":{"example":"\/acl-role?limit=25\u0026page=4"},"prev":{"example":"\/acl-role?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/acl_role_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Acl Role"],"summary":"Create a new Acl Role resources","description":"Create a new Acl Role resources. All required fields must be provided in order to create a new resource successfully.","operationId":"createAclRole","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/acl_role"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/acl_role_flat"}}}},"responses":{"200":{"description":"Detail of acl_role","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/acl_role"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/acl_role_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/acl-role\/{id}":{"get":{"tags":["Acl Role"],"summary":"Detailed information about a Acl Role resource","operationId":"getAclRole","parameters":[{"name":"id","in":"path","description":"Identifier for the acl_role","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of acl_role","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/acl_role"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/acl_role_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Acl Role"],"summary":"Delete a Acl Role resource","operationId":"deleteAclRole","parameters":[{"name":"id","in":"path","description":"Identifier for the acl_role","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Acl Role"],"summary":"Partially update information about a Acl Role resource","operationId":"updateAclRole","parameters":[{"name":"id","in":"path","description":"Identifier for the acl_role","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Acl Role resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/acl_role"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/acl_role_flat"}}}},"responses":{"200":{"description":"Detail of acl_role","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/acl_role"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/acl_role_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/category":{"get":{"tags":["Category"],"summary":"List with basic information of Category resources","operationId":"getCategoryList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Category resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/category"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/category?limit=25"},"last":{"example":"\/category?limit=25\u0026page=11"},"next":{"example":"\/category?limit=25\u0026page=4"},"prev":{"example":"\/category?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/category_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Category"],"summary":"Create a new Category resources","description":"Create a new Category resources. All required fields must be provided in order to create a new resource successfully.","operationId":"createCategory","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/category"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/category_flat"}}}},"responses":{"200":{"description":"Detail of category","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/category"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/category_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/category\/{id}":{"get":{"tags":["Category"],"summary":"Detailed information about a Category resource","operationId":"getCategory","parameters":[{"name":"id","in":"path","description":"Identifier for the category","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of category","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/category"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/category_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Category"],"summary":"Delete a Category resource","operationId":"deleteCategory","parameters":[{"name":"id","in":"path","description":"Identifier for the category","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Category"],"summary":"Partially update information about a Category resource","operationId":"updateCategory","parameters":[{"name":"id","in":"path","description":"Identifier for the category","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Category resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/category"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/category_flat"}}}},"responses":{"200":{"description":"Detail of category","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/category"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/category_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/cms-block":{"get":{"tags":["Cms Block"],"summary":"List with basic information of Cms Block resources","operationId":"getCmsBlockList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Cms Block resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/cms_block"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/cms-block?limit=25"},"last":{"example":"\/cms-block?limit=25\u0026page=11"},"next":{"example":"\/cms-block?limit=25\u0026page=4"},"prev":{"example":"\/cms-block?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/cms_block_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Cms Block"],"summary":"Create a new Cms Block resources","description":"Create a new Cms Block resources. All required fields must be provided in order to create a new resource successfully.","operationId":"createCmsBlock","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_block"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_block_flat"}}}},"responses":{"200":{"description":"Detail of cms_block","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_block"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_block_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/cms-block\/{id}":{"get":{"tags":["Cms Block"],"summary":"Detailed information about a Cms Block resource","operationId":"getCmsBlock","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_block","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of cms_block","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_block"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_block_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Cms Block"],"summary":"Delete a Cms Block resource","operationId":"deleteCmsBlock","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_block","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Cms Block"],"summary":"Partially update information about a Cms Block resource","operationId":"updateCmsBlock","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_block","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Cms Block resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_block"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_block_flat"}}}},"responses":{"200":{"description":"Detail of cms_block","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_block"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_block_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/cms-page":{"get":{"tags":["Cms Page"],"summary":"List with basic information of Cms Page resources","operationId":"getCmsPageList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Cms Page resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/cms_page"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/cms-page?limit=25"},"last":{"example":"\/cms-page?limit=25\u0026page=11"},"next":{"example":"\/cms-page?limit=25\u0026page=4"},"prev":{"example":"\/cms-page?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/cms_page_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Cms Page"],"summary":"Create a new Cms Page resources","description":"Create a new Cms Page resources. All required fields must be provided in order to create a new resource successfully.","operationId":"createCmsPage","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_page"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_page_flat"}}}},"responses":{"200":{"description":"Detail of cms_page","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_page"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_page_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/cms-page\/{id}":{"get":{"tags":["Cms Page"],"summary":"Detailed information about a Cms Page resource","operationId":"getCmsPage","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_page","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of cms_page","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_page"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_page_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Cms Page"],"summary":"Delete a Cms Page resource","operationId":"deleteCmsPage","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_page","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Cms Page"],"summary":"Partially update information about a Cms Page resource","operationId":"updateCmsPage","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_page","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Cms Page resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_page"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_page_flat"}}}},"responses":{"200":{"description":"Detail of cms_page","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_page"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_page_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/cms-section":{"get":{"tags":["Cms Section"],"summary":"List with basic information of Cms Section resources","operationId":"getCmsSectionList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Cms Section resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/cms_section"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/cms-section?limit=25"},"last":{"example":"\/cms-section?limit=25\u0026page=11"},"next":{"example":"\/cms-section?limit=25\u0026page=4"},"prev":{"example":"\/cms-section?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/cms_section_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Cms Section"],"summary":"Create a new Cms Section resources","description":"Create a new Cms Section resources. All required fields must be provided in order to create a new resource successfully.","operationId":"createCmsSection","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_section"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_section_flat"}}}},"responses":{"200":{"description":"Detail of cms_section","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_section"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_section_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/cms-section\/{id}":{"get":{"tags":["Cms Section"],"summary":"Detailed information about a Cms Section resource","operationId":"getCmsSection","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_section","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of cms_section","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_section"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_section_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Cms Section"],"summary":"Delete a Cms Section resource","operationId":"deleteCmsSection","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_section","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Cms Section"],"summary":"Partially update information about a Cms Section resource","operationId":"updateCmsSection","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_section","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Cms Section resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_section"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_section_flat"}}}},"responses":{"200":{"description":"Detail of cms_section","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_section"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_section_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/cms-slot":{"get":{"tags":["Cms Slot"],"summary":"List with basic information of Cms Slot resources","operationId":"getCmsSlotList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Cms Slot resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/cms_slot"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/cms-slot?limit=25"},"last":{"example":"\/cms-slot?limit=25\u0026page=11"},"next":{"example":"\/cms-slot?limit=25\u0026page=4"},"prev":{"example":"\/cms-slot?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/cms_slot_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Cms Slot"],"summary":"Create a new Cms Slot resources","description":"Create a new Cms Slot resources. All required fields must be provided in order to create a new resource successfully.","operationId":"createCmsSlot","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_slot"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_slot_flat"}}}},"responses":{"200":{"description":"Detail of cms_slot","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_slot"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_slot_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/cms-slot\/{id}":{"get":{"tags":["Cms Slot"],"summary":"Detailed information about a Cms Slot resource","operationId":"getCmsSlot","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_slot","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of cms_slot","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_slot"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_slot_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Cms Slot"],"summary":"Delete a Cms Slot resource","operationId":"deleteCmsSlot","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_slot","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Cms Slot"],"summary":"Partially update information about a Cms Slot resource","operationId":"updateCmsSlot","parameters":[{"name":"id","in":"path","description":"Identifier for the cms_slot","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Cms Slot resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_slot"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_slot_flat"}}}},"responses":{"200":{"description":"Detail of cms_slot","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/cms_slot"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/cms_slot_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/country":{"get":{"tags":["Country"],"summary":"List with basic information of Country resources","operationId":"getCountryList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Country resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/country"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/country?limit=25"},"last":{"example":"\/country?limit=25\u0026page=11"},"next":{"example":"\/country?limit=25\u0026page=4"},"prev":{"example":"\/country?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/country_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Country"],"summary":"Create a new Country resources","description":"Create a new Country resources. All required fields must be provided in order to create a new resource successfully.","operationId":"createCountry","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/country"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/country_flat"}}}},"responses":{"200":{"description":"Detail of country","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/country"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/country_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/country\/{id}":{"get":{"tags":["Country"],"summary":"Detailed information about a Country resource","operationId":"getCountry","parameters":[{"name":"id","in":"path","description":"Identifier for the country","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of country","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/country"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/country_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Country"],"summary":"Delete a Country resource","operationId":"deleteCountry","parameters":[{"name":"id","in":"path","description":"Identifier for the country","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Country"],"summary":"Partially update information about a Country resource","operationId":"updateCountry","parameters":[{"name":"id","in":"path","description":"Identifier for the country","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Country resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/country"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/country_flat"}}}},"responses":{"200":{"description":"Detail of country","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/country"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/country_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/country-state":{"get":{"tags":["Country State"],"summary":"List with basic information of Country State resources","operationId":"getCountryStateList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Country State resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/country_state"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/country-state?limit=25"},"last":{"example":"\/country-state?limit=25\u0026page=11"},"next":{"example":"\/country-state?limit=25\u0026page=4"},"prev":{"example":"\/country-state?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/country_state_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Country State"],"summary":"Create a new Country State resources","description":"Create a new Country State resources. All required fields must be provided in order to create a new resource successfully.","operationId":"createCountryState","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/country_state"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/country_state_flat"}}}},"responses":{"200":{"description":"Detail of country_state","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/country_state"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/country_state_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/country-state\/{id}":{"get":{"tags":["Country State"],"summary":"Detailed information about a Country State resource","operationId":"getCountryState","parameters":[{"name":"id","in":"path","description":"Identifier for the country_state","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of country_state","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/country_state"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/country_state_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Country State"],"summary":"Delete a Country State resource","operationId":"deleteCountryState","parameters":[{"name":"id","in":"path","description":"Identifier for the country_state","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Country State"],"summary":"Partially update information about a Country State resource","operationId":"updateCountryState","parameters":[{"name":"id","in":"path","description":"Identifier for the country_state","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Country State resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/country_state"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/country_state_flat"}}}},"responses":{"200":{"description":"Detail of country_state","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/country_state"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/country_state_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/currency":{"get":{"tags":["Currency"],"summary":"List with basic information of Currency resources","operationId":"getCurrencyList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Currency resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/currency"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/currency?limit=25"},"last":{"example":"\/currency?limit=25\u0026page=11"},"next":{"example":"\/currency?limit=25\u0026page=4"},"prev":{"example":"\/currency?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/currency_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Currency"],"summary":"Create a new Currency resources","description":"Create a new Currency resources. All required fields must be provided in order to create a new resource successfully.","operationId":"createCurrency","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/currency"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/currency_flat"}}}},"responses":{"200":{"description":"Detail of currency","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/currency"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/currency_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/currency\/{id}":{"get":{"tags":["Currency"],"summary":"Detailed information about a Currency resource","operationId":"getCurrency","parameters":[{"name":"id","in":"path","description":"Identifier for the currency","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of currency","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/currency"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/currency_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Currency"],"summary":"Delete a Currency resource","operationId":"deleteCurrency","parameters":[{"name":"id","in":"path","description":"Identifier for the currency","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Currency"],"summary":"Partially update information about a Currency resource","operationId":"updateCurrency","parameters":[{"name":"id","in":"path","description":"Identifier for the currency","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Currency resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/currency"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/currency_flat"}}}},"responses":{"200":{"description":"Detail of currency","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/currency"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/currency_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/custom-field":{"get":{"tags":["Custom Field"],"summary":"List with basic information of Custom Field resources","operationId":"getCustomFieldList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Custom Field resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/custom_field"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/custom-field?limit=25"},"last":{"example":"\/custom-field?limit=25\u0026page=11"},"next":{"example":"\/custom-field?limit=25\u0026page=4"},"prev":{"example":"\/custom-field?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/custom_field_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Custom Field"],"summary":"Create a new Custom Field resources","description":"Create a new Custom Field resources. All required fields must be provided in order to create a new resource successfully.","operationId":"createCustomField","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_flat"}}}},"responses":{"200":{"description":"Detail of custom_field","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/custom-field\/{id}":{"get":{"tags":["Custom Field"],"summary":"Detailed information about a Custom Field resource","operationId":"getCustomField","parameters":[{"name":"id","in":"path","description":"Identifier for the custom_field","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of custom_field","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Custom Field"],"summary":"Delete a Custom Field resource","operationId":"deleteCustomField","parameters":[{"name":"id","in":"path","description":"Identifier for the custom_field","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Custom Field"],"summary":"Partially update information about a Custom Field resource","operationId":"updateCustomField","parameters":[{"name":"id","in":"path","description":"Identifier for the custom_field","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Custom Field resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_flat"}}}},"responses":{"200":{"description":"Detail of custom_field","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/custom-field-set":{"get":{"tags":["Custom Field Set"],"summary":"List with basic information of Custom Field Set resources","operationId":"getCustomFieldSetList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Custom Field Set resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/custom_field_set"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/custom-field-set?limit=25"},"last":{"example":"\/custom-field-set?limit=25\u0026page=11"},"next":{"example":"\/custom-field-set?limit=25\u0026page=4"},"prev":{"example":"\/custom-field-set?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/custom_field_set_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Custom Field Set"],"summary":"Create a new Custom Field Set resources","description":"Create a new Custom Field Set resources. All required fields must be provided in order to create a new resource successfully.","operationId":"createCustomFieldSet","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field_set"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_set_flat"}}}},"responses":{"200":{"description":"Detail of custom_field_set","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field_set"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_set_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/custom-field-set\/{id}":{"get":{"tags":["Custom Field Set"],"summary":"Detailed information about a Custom Field Set resource","operationId":"getCustomFieldSet","parameters":[{"name":"id","in":"path","description":"Identifier for the custom_field_set","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of custom_field_set","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field_set"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_set_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Custom Field Set"],"summary":"Delete a Custom Field Set resource","operationId":"deleteCustomFieldSet","parameters":[{"name":"id","in":"path","description":"Identifier for the custom_field_set","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Custom Field Set"],"summary":"Partially update information about a Custom Field Set resource","operationId":"updateCustomFieldSet","parameters":[{"name":"id","in":"path","description":"Identifier for the custom_field_set","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Custom Field Set resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field_set"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_set_flat"}}}},"responses":{"200":{"description":"Detail of custom_field_set","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field_set"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_set_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/custom-field-set-relation":{"get":{"tags":["Custom Field Set Relation"],"summary":"List with basic information of Custom Field Set Relation resources","operationId":"getCustomFieldSetRelationList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Custom Field Set Relation resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/custom_field_set_relation"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/custom-field-set-relation?limit=25"},"last":{"example":"\/custom-field-set-relation?limit=25\u0026page=11"},"next":{"example":"\/custom-field-set-relation?limit=25\u0026page=4"},"prev":{"example":"\/custom-field-set-relation?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/custom_field_set_relation_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Custom Field Set Relation"],"summary":"Create a new Custom Field Set Relation resources","description":"Create a new Custom Field Set Relation resources. All required fields must be provided in order to create a new resource successfully.","operationId":"createCustomFieldSetRelation","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field_set_relation"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_set_relation_flat"}}}},"responses":{"200":{"description":"Detail of custom_field_set_relation","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field_set_relation"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_set_relation_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/custom-field-set-relation\/{id}":{"get":{"tags":["Custom Field Set Relation"],"summary":"Detailed information about a Custom Field Set Relation resource","operationId":"getCustomFieldSetRelation","parameters":[{"name":"id","in":"path","description":"Identifier for the custom_field_set_relation","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of custom_field_set_relation","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field_set_relation"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_set_relation_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Custom Field Set Relation"],"summary":"Delete a Custom Field Set Relation resource","operationId":"deleteCustomFieldSetRelation","parameters":[{"name":"id","in":"path","description":"Identifier for the custom_field_set_relation","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Custom Field Set Relation"],"summary":"Partially update information about a Custom Field Set Relation resource","operationId":"updateCustomFieldSetRelation","parameters":[{"name":"id","in":"path","description":"Identifier for the custom_field_set_relation","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Custom Field Set Relation resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field_set_relation"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_set_relation_flat"}}}},"responses":{"200":{"description":"Detail of custom_field_set_relation","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/custom_field_set_relation"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/custom_field_set_relation_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/customer":{"get":{"tags":["Customer"],"summary":"List with basic information of Customer resources","operationId":"getCustomerList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Customer resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/customer"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/customer?limit=25"},"last":{"example":"\/customer?limit=25\u0026page=11"},"next":{"example":"\/customer?limit=25\u0026page=4"},"prev":{"example":"\/customer?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/customer_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Customer"],"summary":"Create a new Customer resources","description":"Create a new Customer resources. All required fields must be provided in order to create a new resource successfully.","operationId":"createCustomer","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_flat"}}}},"responses":{"200":{"description":"Detail of customer","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/customer\/{id}":{"get":{"tags":["Customer"],"summary":"Detailed information about a Customer resource","operationId":"getCustomer","parameters":[{"name":"id","in":"path","description":"Identifier for the customer","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of customer","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Customer"],"summary":"Delete a Customer resource","operationId":"deleteCustomer","parameters":[{"name":"id","in":"path","description":"Identifier for the customer","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Customer"],"summary":"Partially update information about a Customer resource","operationId":"updateCustomer","parameters":[{"name":"id","in":"path","description":"Identifier for the customer","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Customer resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_flat"}}}},"responses":{"200":{"description":"Detail of customer","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/customer-address":{"get":{"tags":["Customer Address"],"summary":"List with basic information of Customer Address resources","operationId":"getCustomerAddressList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Customer Address resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/customer_address"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/customer-address?limit=25"},"last":{"example":"\/customer-address?limit=25\u0026page=11"},"next":{"example":"\/customer-address?limit=25\u0026page=4"},"prev":{"example":"\/customer-address?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/customer_address_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Customer Address"],"summary":"Create a new Customer Address resources","description":"Create a new Customer Address resources. All required fields must be provided in order to create a new resource successfully.","operationId":"createCustomerAddress","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_address"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_address_flat"}}}},"responses":{"200":{"description":"Detail of customer_address","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_address"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_address_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/customer-address\/{id}":{"get":{"tags":["Customer Address"],"summary":"Detailed information about a Customer Address resource","operationId":"getCustomerAddress","parameters":[{"name":"id","in":"path","description":"Identifier for the customer_address","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of customer_address","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_address"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_address_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Customer Address"],"summary":"Delete a Customer Address resource","operationId":"deleteCustomerAddress","parameters":[{"name":"id","in":"path","description":"Identifier for the customer_address","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Customer Address"],"summary":"Partially update information about a Customer Address resource","operationId":"updateCustomerAddress","parameters":[{"name":"id","in":"path","description":"Identifier for the customer_address","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Customer Address resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_address"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_address_flat"}}}},"responses":{"200":{"description":"Detail of customer_address","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_address"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_address_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/customer-group":{"get":{"tags":["Customer Group"],"summary":"List with basic information of Customer Group resources","operationId":"getCustomerGroupList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Customer Group resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/customer_group"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/customer-group?limit=25"},"last":{"example":"\/customer-group?limit=25\u0026page=11"},"next":{"example":"\/customer-group?limit=25\u0026page=4"},"prev":{"example":"\/customer-group?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/customer_group_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Customer Group"],"summary":"Create a new Customer Group resources","description":"Create a new Customer Group resources. All required fields must be provided in order to create a new resource successfully.","operationId":"createCustomerGroup","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_group"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_group_flat"}}}},"responses":{"200":{"description":"Detail of customer_group","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_group"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_group_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/customer-group\/{id}":{"get":{"tags":["Customer Group"],"summary":"Detailed information about a Customer Group resource","operationId":"getCustomerGroup","parameters":[{"name":"id","in":"path","description":"Identifier for the customer_group","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of customer_group","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_group"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_group_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Customer Group"],"summary":"Delete a Customer Group resource","operationId":"deleteCustomerGroup","parameters":[{"name":"id","in":"path","description":"Identifier for the customer_group","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Customer Group"],"summary":"Partially update information about a Customer Group resource","operationId":"updateCustomerGroup","parameters":[{"name":"id","in":"path","description":"Identifier for the customer_group","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Customer Group resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_group"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_group_flat"}}}},"responses":{"200":{"description":"Detail of customer_group","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_group"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_group_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/customer-recovery":{"get":{"tags":["Customer Recovery"],"summary":"List with basic information of Customer Recovery resources","operationId":"getCustomerRecoveryList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Customer Recovery resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/customer_recovery"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/customer-recovery?limit=25"},"last":{"example":"\/customer-recovery?limit=25\u0026page=11"},"next":{"example":"\/customer-recovery?limit=25\u0026page=4"},"prev":{"example":"\/customer-recovery?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/customer_recovery_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Customer Recovery"],"summary":"Create a new Customer Recovery resources","description":"Create a new Customer Recovery resources. All required fields must be provided in order to create a new resource successfully.","operationId":"createCustomerRecovery","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_recovery"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_recovery_flat"}}}},"responses":{"200":{"description":"Detail of customer_recovery","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_recovery"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_recovery_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/customer-recovery\/{id}":{"get":{"tags":["Customer Recovery"],"summary":"Detailed information about a Customer Recovery resource","operationId":"getCustomerRecovery","parameters":[{"name":"id","in":"path","description":"Identifier for the customer_recovery","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of customer_recovery","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_recovery"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_recovery_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Customer Recovery"],"summary":"Delete a Customer Recovery resource","operationId":"deleteCustomerRecovery","parameters":[{"name":"id","in":"path","description":"Identifier for the customer_recovery","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Customer Recovery"],"summary":"Partially update information about a Customer Recovery resource","operationId":"updateCustomerRecovery","parameters":[{"name":"id","in":"path","description":"Identifier for the customer_recovery","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Customer Recovery resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_recovery"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_recovery_flat"}}}},"responses":{"200":{"description":"Detail of customer_recovery","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/customer_recovery"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/customer_recovery_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/dead-message":{"get":{"tags":["Dead Message"],"summary":"List with basic information of Dead Message resources","operationId":"getDeadMessageList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Dead Message resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/dead_message"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/dead-message?limit=25"},"last":{"example":"\/dead-message?limit=25\u0026page=11"},"next":{"example":"\/dead-message?limit=25\u0026page=4"},"prev":{"example":"\/dead-message?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/dead_message_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Dead Message"],"summary":"Create a new Dead Message resources","description":"Create a new Dead Message resources. All required fields must be provided in order to create a new resource successfully.","operationId":"createDeadMessage","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/dead_message"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/dead_message_flat"}}}},"responses":{"200":{"description":"Detail of dead_message","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/dead_message"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/dead_message_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/dead-message\/{id}":{"get":{"tags":["Dead Message"],"summary":"Detailed information about a Dead Message resource","operationId":"getDeadMessage","parameters":[{"name":"id","in":"path","description":"Identifier for the dead_message","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of dead_message","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/dead_message"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/dead_message_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Dead Message"],"summary":"Delete a Dead Message resource","operationId":"deleteDeadMessage","parameters":[{"name":"id","in":"path","description":"Identifier for the dead_message","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Dead Message"],"summary":"Partially update information about a Dead Message resource","operationId":"updateDeadMessage","parameters":[{"name":"id","in":"path","description":"Identifier for the dead_message","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Dead Message resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/dead_message"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/dead_message_flat"}}}},"responses":{"200":{"description":"Detail of dead_message","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/dead_message"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/dead_message_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/delivery-time":{"get":{"tags":["Delivery Time"],"summary":"List with basic information of Delivery Time resources","operationId":"getDeliveryTimeList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Delivery Time resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/delivery_time"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/delivery-time?limit=25"},"last":{"example":"\/delivery-time?limit=25\u0026page=11"},"next":{"example":"\/delivery-time?limit=25\u0026page=4"},"prev":{"example":"\/delivery-time?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/delivery_time_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Delivery Time"],"summary":"Create a new Delivery Time resources","description":"Create a new Delivery Time resources. All required fields must be provided in order to create a new resource successfully.","operationId":"createDeliveryTime","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/delivery_time"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/delivery_time_flat"}}}},"responses":{"200":{"description":"Detail of delivery_time","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/delivery_time"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/delivery_time_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/delivery-time\/{id}":{"get":{"tags":["Delivery Time"],"summary":"Detailed information about a Delivery Time resource","operationId":"getDeliveryTime","parameters":[{"name":"id","in":"path","description":"Identifier for the delivery_time","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of delivery_time","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/delivery_time"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/delivery_time_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Delivery Time"],"summary":"Delete a Delivery Time resource","operationId":"deleteDeliveryTime","parameters":[{"name":"id","in":"path","description":"Identifier for the delivery_time","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Delivery Time"],"summary":"Partially update information about a Delivery Time resource","operationId":"updateDeliveryTime","parameters":[{"name":"id","in":"path","description":"Identifier for the delivery_time","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Delivery Time resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/delivery_time"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/delivery_time_flat"}}}},"responses":{"200":{"description":"Detail of delivery_time","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/delivery_time"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/delivery_time_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/document":{"get":{"tags":["Document"],"summary":"List with basic information of Document resources","operationId":"getDocumentList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Document resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/document"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/document?limit=25"},"last":{"example":"\/document?limit=25\u0026page=11"},"next":{"example":"\/document?limit=25\u0026page=4"},"prev":{"example":"\/document?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/document_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Document"],"summary":"Create a new Document resources","description":"Create a new Document resources. All required fields must be provided in order to create a new resource successfully.","operationId":"createDocument","parameters":[{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","schema":{"type":"string","enum":["basic","detail"]}}],"requestBody":{"content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/document"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/document_flat"}}}},"responses":{"200":{"description":"Detail of document","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/document"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/document_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/document\/{id}":{"get":{"tags":["Document"],"summary":"Detailed information about a Document resource","operationId":"getDocument","parameters":[{"name":"id","in":"path","description":"Identifier for the document","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Detail of document","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/document"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/document_flat"}}}},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"delete":{"tags":["Document"],"summary":"Delete a Document resource","operationId":"deleteDocument","parameters":[{"name":"id","in":"path","description":"Identifier for the document","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"responses":{"204":{"$ref":"#\/components\/responses\/204"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}},"patch":{"tags":["Document"],"summary":"Partially update information about a Document resource","operationId":"updateDocument","parameters":[{"name":"id","in":"path","description":"Identifier for the document","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_response","in":"query","description":"Data format for response. Empty if none is provided.","allowEmptyValue":true,"schema":{"type":"string"}}],"requestBody":{"description":"Partially update information about a Document resource.","content":{"application\/vnd.api+json":{"schema":{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/document"},"included":{"type":"array","items":{"$ref":"#\/components\/schemas\/resource"},"uniqueItems":true}}}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/document_flat"}}}},"responses":{"200":{"description":"Detail of document","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"$ref":"#\/components\/schemas\/document"}}}]}},"application\/json":{"schema":{"$ref":"#\/components\/schemas\/document_flat"}}}},"400":{"$ref":"#\/components\/responses\/400"},"404":{"$ref":"#\/components\/responses\/404"},"401":{"$ref":"#\/components\/responses\/401"}}}},"\/document-base-config":{"get":{"tags":["Document Base Config"],"summary":"List with basic information of Document Base Config resources","operationId":"getDocumentBaseConfigList","parameters":[{"name":"limit","in":"query","description":"Max amount of resources to be returned in a page","schema":{"type":"integer"}},{"name":"page","in":"query","description":"The page to be returned","schema":{"type":"integer"}},{"name":"query","in":"query","description":"Encoded SwagQL in JSON","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Document Base Config resources.","content":{"application\/vnd.api+json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/success"},{"type":"object","properties":{"data":{"allOf":[{"$ref":"#\/components\/schemas\/data"},{"type":"array","items":{"$ref":"#\/components\/schemas\/document_base_config"}}]},"links":{"allOf":[{"$ref":"#\/components\/schemas\/pagination"},{"type":"object","properties":{"first":{"example":"\/document-base-config?limit=25"},"last":{"example":"\/document-base-config?limit=25\u0026page=11"},"next":{"example":"\/document-base-config?limit=25\u0026page=4"},"prev":{"example":"\/document-base-config?limit=25\u0026page=2"}}}]}}}]}},"application\/json":{"schema":{"type":"object","properties":{"total":{"type":"integer"},"data":{"type":"array","items":{"$ref":"#\/components\/schemas\/document_base_config_flat"}}}}}}},"401":{"$ref":"#\/components\/responses\/401"}}},"post":{"tags":["Document B
[...]
